.swiper-pagination {
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left:-22px;
}

/* Customize the style of the pagination bullets */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background-color: #F4F4FC;
  border-radius: 50%;
  opacity: 0.6;
  transition: background-color 0.3s ease;
}

/* Customize the style of the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #7575e2;
  /* Set the background color for the active bullet */
  opacity: 1;
  /* Set full opacity for the active bullet */
}

.swiper-container .swiper-scrollbar {
  display: none;
  /* Hide the scrollbar */
}
